    * {
    margin: 0px;
    padding: 0px;
}



 
  

 
  .header-left{
      float: left;
      margin-top: 15px;
      margin-left: 20px;
      word-spacing: 10px;

  }
  .header-right{
      float: right;
      margin-top: 15px;
      margin-right:5px ;
  }

  


  #ssearch{
      position: relative;
      /* width: px; */
      
  }

  #sglass{
      position: absolute;
    left: 10px;
  }